.App{
  background-color: #f5f5f7;

}
.color-overlay{
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

.flex-container{
  display: flex;

}

.flex-item-left {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  margin: 10px;
  flex: 50%;
}

.error-message{
  font-size: 13px;
  color: red;
  margin-left: 2px;
  margin-top: 10x;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}